.node {
    position: absolute;
    background: #cdcdcd;
    width: DEFAULT_NODE_WIDTH;
    height: DEFAULT_NODE_HEIGHT;
    overflow: hidden;

        
    &.minimized {
        width: 30px;
        height: 30px;
    }

    .content {
        padding: 20px 20px;
        height: auto;
        box-sizing: border-box;
    }

    .scroll-box {
        overflow-y: scroll;
        height: calc(100% - 20px);
    }
}