//for grid view
.view-node { 
    &.grid-cell.highlight {
        border: 3px dashed rgb(188, 19, 0);
 
    }
}  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }