.freeformcanvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .freeformcanvas {
        position: absolute;
        top: 0;
        left: 0;
    }
}

// Each child node is wrapped in a container so we can
// place the remove button in a consistent spot.
.collection-child-wrapper {
    position: absolute;
    &.hovered-drop-target {
        .node{
        outline: 3px dashed rgba(255, 188, 2, 0.7); //highlighting when it is being hovered over
        z-index: -1; //be covered by the other node
        }
      }
}