.richtext-node {

    background-color: #f9f9ff;
    overflow: hidden !important; //it's still enabling scrolling for the broken link tooltip tho?

}
  
/* Prevent Quill link tooltip from wrapping */

.ql-snow .ql-tooltip {

  white-space: nowrap !important;
 // top: 0;
 // left: 0;
  //position: relative; //ADDED JAN19 RISKY

}

.quill-container {
  background-color: aqua !important;
}
