.richtext-node {

    background-color: #f9f9ff;
    overflow: hidden !important;

}
  
/* Prevent Quill link tooltip from wrapping. Override Quill's definitions of these attributes*/

.ql-snow .ql-tooltip {

  white-space: nowrap !important;

}

.quill-container {
  background-color: aqua !important;
}
